@import "../reset.css";
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:500|Permanent+Marker');

* {
  box-sizing: border-box;
}

body {
  max-width: 600px;
  margin: 0 auto;
  background: #862C2C;
  font-family: 'Maven Pro', sans-serif;
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  max-width: 600px;
  min-height: 60px;
  margin: 0 auto;
  z-index: 1;
  background-color: #a87878 /*735353*/;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: solid 3px #C70000;
  border-right: solid 3px #C70000;
  border-left: solid 3px #C70000;
}

main {
  margin-top: 110px;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 175%;
  margin-bottom: 0;
  padding-top: 2%;
  margin-left: 6%;
  text-align: center;
  text-align: left;
}


h2 {
  font-size: 150%;
  margin: 3% auto;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 125%;
  margin-bottom: 1%;
  padding-top: 2%;
}

.book-item {
  border: solid 3px #C70000;
}

h4 {
  text-align: center;
  font-size: 100%;
  margin-bottom: 2%;
}

h5 {
  text-align: center;
  font-size: 100%;
  margin-bottom: 2%;
}

.main-nav li{
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 1%;
  padding: 4%;
  text-align: left;
  text-indent: 20px;
}

button {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 75%;
}

footer {
  padding: 1%;
}

textarea {
  resize: none;
}

.container a {
  margin: 2% auto;
  border: white 3px;
  display: inline;
  padding: 1% 2%;
}

.main-nav ul {
  overflow: auto;
  padding-top: 15px;
}

.main-nav li {
  margin: 10px 15px 10px 10px;
  float: left;
}

.book-detail-link {
  width: 40%;
}

.container {
  padding-left: 2%;
  padding-right: 2%;
}

.book-view > div, footer {
  margin: 2% auto 3% auto;
  width: 90%;
  text-align: center;
}

.book-item, .book-view > div, .container:not(.book-view), header, footer {
  box-shadow: 3px 3px 3px black;
}
